{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}
    
  <div class="container main">
    <div class="row">
      {{#post}}
      <div class="col-md-4">
          <h1 class="title"><a href="{{url}}">{{title}}</a></h1>
      </div>
      <div class="col-md-7 post-content">
          {{content}}
      </div>        
    </div>
  </div>
    {{/post}}

