{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}
      
  <div class="container main">
    <div class="row">
      <div class="col-md-4">
          <h1 class="title"><a href="{{url}}">Work</a></h1>
      </div>
    <div class="col-md-7 post-content">
      <div class="work">
        <a href="/verity"><img src="{{asset "images/verity_bar.png"}}" class="img-responsive"></a>
      </div>
      <div class="work">
        <a href="/sca"><img src="{{asset "images/sca_bar.jpg"}}" class="img-responsive"></a>
      </div>
      <div class="work">
        <a href="/fruit-forest"><img src="{{asset "images/ff_bar.jpg"}}" class="img-responsive"></a>
      </div>

          
    </div>
              
        </div>
</div>
 

