.intro {
  background: #EEE;
  margin: 0;
  padding-top: 2%;
  .hi {
    color: $primary-color;
    margin-top: 0;
  }  
  .photo {
    margin-left: 25px;
    padding-top: 3%;
  }
  
  .social {
    text-align: center;
    padding: 5%;
    a {
      font-size: 25px;
      color: $primary-color;
      padding: 1%;
      &:hover {
        @include transition;
        color: $secondary-color;
        text-decoration: none;
      }
    }
  }
}

