.nav {
  text-align: center;
  ul {
    margin-top: 2%;
    font-size: 16px;
    li {
      list-style: none;
      display: inline-block;
      padding-left: 2%;
      a {
        color: $secondary-color;
        &:hover {
          color: $primary-color;
        }
      }
    }
    .logo {
        padding-left: 0%;
    }
  }
  hr {
    border-top: 1px solid #999;
    width: 50%;
  }
}