.main {
  margin: 3% 0;
  font-size: 20px;
  line-height: 1.5;
}



.title {
  text-align: center;
  a {
  font-family: 'Raleway', Helvetica;
  font-weight: 200;
  color: $primary-color;
    &:hover {
      color: $secondary-color;
      text-decoration: none;
    }
  }
}

.author {
  color: $secondary-color;
  text-align: center;
  font-size: 16px;
}

.post-content {
  margin: 2% 0;
  hr {
    border-top: 1px solid $secondary-color;
    width: 80%;
    padding-top: 2%;
  }
}

.post-share {
  margin-top: 2%;
  padding: 1.5%;
  background: #eee;
  text-align: center;
  font-size: 20px;
  h4 {
    color: #333;
    font-size: 1em;
    line-height: 1.5;
  }
}
